In [93]:
!curl http://localhost:5000/status

{
  "status": "online"
}

In [106]:
data = '{"datetime" :[ \
        "Wed Sep 30 2022 00:00:00 GMT+0300 (GMT+03:00)", \
        "Wed Sep 30 2022 01:00:00 GMT+0300 (GMT+03:00)",\
        "Wed Sep 30 2022 02:00:00 GMT+0300 (GMT+03:00)",\
        "Wed Sep 30 2022 03:00:00 GMT+0300 (GMT+03:00)",\
        "Wed Sep 30 2022 04:00:00 GMT+0300 (GMT+03:00)",\
        "Wed Sep 30 2022 05:00:00 GMT+0300 (GMT+03:00)",\
        "Wed Sep 30 2022 06:00:00 GMT+0300 (GMT+03:00)",\
        "Wed Sep 30 2022 07:00:00 GMT+0300 (GMT+03:00)",\
        "Wed Sep 30 2022 08:00:00 GMT+0300 (GMT+03:00)",\
        "Wed Sep 30 2022 09:00:00 GMT+0300 (GMT+03:00)",\
        "Wed Sep 30 2022 10:00:00 GMT+0300 (GMT+03:00)",\
        "Wed Sep 30 2022 11:00:00 GMT+0300 (GMT+03:00)" ],\
    "cpu_usage": [12.50,40.53,32.32,65.12,4.78,4.22,16.50,28.53,33.11,61.12,4.38,4.62]\
}'

In [107]:
import requests
import json

response = requests.post('http://127.0.0.1:5000/prediction', data)
back_response = response.json()

In [108]:
back_response

{'anomaly': [False,
  True,
  True,
  True,
  False,
  False,
  False,
  True,
  True,
  True,
  False,
  False],
 'cpu_usage': [12.5,
  40.53,
  32.32,
  65.12,
  4.78,
  4.22,
  16.5,
  28.53,
  33.11,
  61.12,
  4.38,
  4.62],
 'datetime': ['Wed Sep 30 2022 00:00:00 GMT+0300 (GMT+03:00)',
  'Wed Sep 30 2022 01:00:00 GMT+0300 (GMT+03:00)',
  'Wed Sep 30 2022 02:00:00 GMT+0300 (GMT+03:00)',
  'Wed Sep 30 2022 03:00:00 GMT+0300 (GMT+03:00)',
  'Wed Sep 30 2022 04:00:00 GMT+0300 (GMT+03:00)',
  'Wed Sep 30 2022 05:00:00 GMT+0300 (GMT+03:00)',
  'Wed Sep 30 2022 06:00:00 GMT+0300 (GMT+03:00)',
  'Wed Sep 30 2022 07:00:00 GMT+0300 (GMT+03:00)',
  'Wed Sep 30 2022 08:00:00 GMT+0300 (GMT+03:00)',
  'Wed Sep 30 2022 09:00:00 GMT+0300 (GMT+03:00)',
  'Wed Sep 30 2022 10:00:00 GMT+0300 (GMT+03:00)',
  'Wed Sep 30 2022 11:00:00 GMT+0300 (GMT+03:00)']}

In [109]:
import pandas as pd

df = pd.DataFrame(back_response)
df

    anomaly  cpu_usage                                       datetime
0     False      12.50  Wed Sep 30 2022 00:00:00 GMT+0300 (GMT+03:00)
1      True      40.53  Wed Sep 30 2022 01:00:00 GMT+0300 (GMT+03:00)
2      True      32.32  Wed Sep 30 2022 02:00:00 GMT+0300 (GMT+03:00)
3      True      65.12  Wed Sep 30 2022 03:00:00 GMT+0300 (GMT+03:00)
4     False       4.78  Wed Sep 30 2022 04:00:00 GMT+0300 (GMT+03:00)
5     False       4.22  Wed Sep 30 2022 05:00:00 GMT+0300 (GMT+03:00)
6     False      16.50  Wed Sep 30 2022 06:00:00 GMT+0300 (GMT+03:00)
7      True      28.53  Wed Sep 30 2022 07:00:00 GMT+0300 (GMT+03:00)
8      True      33.11  Wed Sep 30 2022 08:00:00 GMT+0300 (GMT+03:00)
9      True      61.12  Wed Sep 30 2022 09:00:00 GMT+0300 (GMT+03:00)
10    False       4.38  Wed Sep 30 2022 10:00:00 GMT+0300 (GMT+03:00)
11    False       4.62  Wed Sep 30 2022 11:00:00 GMT+0300 (GMT+03:00)